<div class="main-content1">
  <div>
    <div class="f1">
      <h2 class="p-mc1">Transforma tu éxito académico con nosotros:
        Estrategias de estudio, seguimiento y apoyo
        experto en un solo lugar.</h2>
      <button class="call-to-action">Iniciar</button>
    </div>
    <div class="flex">
      <p>Plataforma hecha exclusivamente para universitarios</p>
      <p>Explora una amplia gama de contenido educativo</p>
      <p>Accede a recursos educativos de forma gratuita, sin anuncios</p>
      <p>Recibe apoyo emocional sin costo adicional</p>
    </div>
  </div>
</div>
<div class="main-content2">
  <div class="f2">
    <div>
      <h2 class="h2-mc2">Desarrollarás habilidades efectivas de estudio</h2>
      <p>Gracias a las sesiones síncronas de manera virtual con los especialistas
        que se encuentran registrados en nuestra plataforma</p>
      <div class="flex2">
        <div>
          <img src="assets/tiempo.png" width="150" height="150">
          <p>Gestión de tiempo</p>
        </div>
        <div>
          <img src="assets/apuntes.png" width="150" height="150">
          <p>Toma de apuntes efectiva</p>
        </div>
        <div>
          <img src="assets/lectura.png" width="150" height="150">
          <p>Lectura crítica</p>
        </div>
      </div>
    </div>
    <img src="../../../assets/captura1.png" width="700" height="400">
  </div>
</div>
<div class="main-content3">
  <div class="f3">
    <img src="../../../assets/captura2.png" width="700" height="400">
    <div>
      <h2 class="h2-mc2">Mejorarás tu bienestar emocional y mental</h2>
      <p>EduFocus está diseñado para proporcionarte recursos y apoyo específicos que te ayudarán
        a gestionar el estrés, aumentar la resiliencia emocional y encontrar un equilibrio
        saludable en tu vida.</p>
      <div class="flex2">
        <div>
          <img src="assets/equilibrio.png" width="150" height="150">
          <p>Equilibra tus estudios y vida personal</p>
        </div>
        <div>
          <img src="assets/gestion.png" width="150" height="150">
          <p>Mejora tu gestión del estrés</p>
        </div>
        <div>
          <img src="assets/productivo.png" width="150" height="150">
          <p>Crea un ambiente de estudio productivo</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-content4">
  <div class="f4">
    <div>
      <h2 class="h2-mc2">Tendrás un seguimiento de tu progreso académico y emocional</h2>
      <p>Podrás visualizar tus logros académicos, evaluar tu desarrollo emocional y medir tus avances
        de manera clara y accesible. Esta herramienta te permitirá tomar el control de tu crecimiento
        personal, brindándote información valiosa para tomar decisiones informadas y trabajar en áreas
        específicas que desees mejorar, tanto en tu ámbito académico como en tu bienestar emocional.</p>
    </div>
    <img src="../../../assets/captura3.png" width="700" height="400">
  </div>
</div>
<div class="main-content5">
  <div class="f5">
    <img src="../../../assets/captura4.png" width="700" height="400">
    <div>
      <h2 class="h2-mc2">Podrás contactar a expertos en educación y psicología</h2>
      <p>EduFocus te facilitará el acceso a expertos que podrán brindarte orientación personalizada,
        consejos y apoyo especializado</p>
      <button id="boton2" class="call-to-action">Contactarlos</button>
    </div>
  </div>
</div>
