<div class="footer-content">
  <div class="datos-empresa">
    <div>
      <h2>Sobre Nosotros</h2>
      <p>Lorem ipsum dolor sit amet consectetur. Lorem ipsum
        dolor sit amet consectetur.</p>
    </div>
    <div>
      <h2>Listas</h2>
      <p>Nosotros</p>
      <p>Otros servicios</p>
    </div>
    <div>
      <h2>Contacto</h2>
      <p>
        Av. La Marina 2810, San Miguel 15087
      </p>
      <p>EduFocus</p>
      <p>EduFocus@gmail.com</p>
    </div>
  </div>
  <div class="final">
    <p>&copy; 2023 Todos los derechos reservados</p>
  </div>
</div>
