<div class="footer-content">
  <div class="datos-empresa">
    <div>
      <h2>Sobre Nosotros</h2>
      <p>Transforma tu éxito académico con nosotros: Estrategias de estudio, seguimiento <br> y apoyo experto en un solo lugar.</p>
    </div>
    <div>
      <h2>Empezar</h2>
      <p><a href="https://edufocus-app.web.app/">Acceder</a></p>
      <p><a href="https://edufocus-app.web.app/">Registrarse</a></p>
    </div>
    <div>
      <h2>Contacto</h2>
      <p>
        Av. La Marina 2810, San Miguel 15087
      </p>
      <p>EduFocus</p>
      <p>EduFocus@gmail.com</p>
    </div>
  </div>
  <div class="final">
    <p>&copy; 2023 Todos los derechos reservados</p>
  </div>
</div>
