.toolbar {
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
}

.spacer {
  flex: 1;
}




.navbar-button {
  padding: 5px;
  font-size: 20px;
  margin-right: 10px;
}
