mat-toolbar {
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
}

.spacer {
  flex: 1;
}

img {
  padding: 95px;
}

.button-log-in {
  padding:10px;
  font-size: 20px;
  margin-right: 10px;
}

.button-register {
  padding-left: 10px;
  padding-right: 95px;
  font-size: 20px;
  margin-right: 10px;
}

.button-log-in:hover {
  background: #3d3d3d;
}

.button-register:hover{
  background: #3d3d3d;
}

.button-log-in a,
.button-register a {
  text-decoration: none;
  color: white;
}
