<app-nav></app-nav>

<mat-card class="hero-section">
  <mat-card-header>
    <div mat-card-avatar class="hero-image"></div>
    <mat-card-title class="hero-title">Transforma tu éxito académico con nosotros</mat-card-title>
    <mat-card-subtitle class="hero-subtitle">Estrategias de estudio, seguimiento y apoyo expertos en un solo lugar.</mat-card-subtitle>
  </mat-card-header>
  <div class="hero-benefits">
    <div class="benefit"><mat-icon class="benefit-icon">check</mat-icon>  Plataforma hecha exclusivamente para universitarios</div>
    <div class="benefit"><mat-icon class="benefit-icon">check</mat-icon>  Explora una amplia gama de contenido educativo</div>
    <div class="benefit"><mat-icon class="benefit-icon">check</mat-icon>  Accede a recursos educativos de forma gratuita, sin anuncios</div>
    <div class="benefit"><mat-icon class="benefit-icon">check</mat-icon>  Recibe apoyo emocional sin costo adicional</div>
  </div>
  <mat-card-actions class="action">
    <button class="custom-button"><a href="https://edufocus-app.web.app/">Empezar</a></button>
  </mat-card-actions>

</mat-card>



<mat-card class="landing-section">
  <mat-card-content class="content left-image">
    <div class="image-container">
      <img class="main-image" src="https://i.postimg.cc/2SpBnRZG/8596567.png" alt="Persona 1" width="250">
    </div>
    <div class="text-container">
      <h2 class="section-title">Desarrollarás habilidades efectivas de estudio</h2>
      <p>Gracias a las sesiones síncronas de manera virtual con los especialistas que se encuentran registrados en nuestra plataforma</p>
      <div class="logos horizontal">
        <img src="https://i.postimg.cc/W3037hc1/tiempo.png" alt="Logo 1">
        <img src="https://i.postimg.cc/SKsCVLgN/apuntes.png" alt="Logo 2">
        <img src="https://i.postimg.cc/3NHyM2FG/lectura.png" alt="Logo 3">
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="landing-section">
  <mat-card-content class="content right-image">
    <div class="text-container">
      <h2 class="section-title">Mejorarás tu bienestar emocional y mental</h2>
      <p>EduFocus está diseñado para proporcionarte recursos y apoyo específicos que te ayudarán a gestionar el estrés, aumentar la resiliencia emocional y encontrar un equilibrio saludable en tu vida.</p>
      <div class="logos horizontal">
        <img src="https://i.postimg.cc/3JTGzQtq/equilibrio.png" alt="Logo 4">
        <img src="https://i.postimg.cc/13WNgnyx/gestion.png" alt="Logo 5">
        <img src="https://i.postimg.cc/CxKRVhkc/productivo.png" alt="Logo 6">
      </div>
    </div>
    <div class="image-container">
      <img class="main-image" src="https://i.postimg.cc/Y2b3N9r3/8595780.png" alt="Imagen 2" width="450">
    </div>
  </mat-card-content>
</mat-card>


<mat-card class="landing-section">
  <mat-card-content class="content left-image">
    <div class="image-container">
      <img class="main-image" src="https://i.postimg.cc/Dzv0c2yr/8596455.png" alt="Persona 3" width="250">
    </div>
    <div class="text-container">
      <h2 class="section-title">Tendrás un seguimiento de tu progreso académico y emocional</h2>
      <p>Podrás visualizar tus logros académicos, evaluar tu desarrollo emocional y medir tus avances
        de manera clara y accesible. Esta herramienta te permitirá tomar el control de tu crecimiento
        personal, brindándote información valiosa para tomar decisiones informadas y trabajar en áreas
        específicas que desees mejorar, tanto en tu ámbito académico como en tu bienestar emocional.</p>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="landing-section">
  <mat-card-content class="content right-image">
    <div class="text-container">
      <h2 class="section-title">Podrás contactar a expertos en educación y psicología</h2>
      <p>EduFocus te facilitará el acceso a expertos que podrán brindarte orientación personalizada,
        consejos y apoyo especializado</p>

      <div class="logos horizontal">
        <img src="https://i.postimg.cc/SKsCVLgN/apuntes.png" alt="Logo 2">
        <img src="https://i.postimg.cc/3NHyM2FG/lectura.png" alt="Logo 3">
      </div>
    </div>

    <div class="image-container">
      <img class="main-image" src="https://i.postimg.cc/Wpn998n0/8602650.png" alt="Imagen 4" width="250">
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="landing-section">
  <mat-card-content class="content left-image">
    <div class="image-container">
      <img class="main-image" src="https://i.postimg.cc/4dRtZCJn/8612431.png" alt="Persona 5" width="550">
    </div>
    <div class="text-container">
      <h2 class="section-title">Contacta nuestro equipo para brindarte más información</h2>
      <div class="contact-form">
        <form>
          <div class="form-group">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" required>
          </div>
          <div class="form-group">
            <label for="email">Correo Electrónico:</label>
            <input type="email" id="email" name="email" required>
          </div>
          <button class="boton-call-to-action">Contactar</button>
        </form>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<app-footer></app-footer>
